# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# System files
Thumbs.db

# Output and temp files
*.log
*.csv
*.zip
*.tar.gz
outputs/
